:root {
  --main-color: #01c8fc;
  --shadow-value: 0px 2px 12px 0px #b5b5b5;
  --text-center: center;
  --contact-color: #1e1e1e;
}

html {
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  margin: 0;
}

.navbar {
  width: 100%;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 1px 6px 0px gray;
  z-index: 1000;
  position: sticky;
}

.container {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
  background-color: white;
  justify-content: space-between;
  align-items: var(--text-center);
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

ul > li > a {
  color: black;
  text-decoration: none;
  font-size: 12px;
  margin-left: 20px;
  transition: ease 0.2s;
}

ul > li > a:hover {
  color: var(--main-color);
}

.landing {
  margin-top: 0;
  background-image: url(../imgs/pexels-eberhardgross-1287145.jpg);
  box-shadow: 0px 0px 10px 0px gray;
  background-size: cover;
  height: calc(100vh - 98.39px);
  margin-bottom: 150px;
}

.landing .describe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.landing .describe > h1 {
  letter-spacing: 3px;
  font-size: 40px;
  font-weight: 700;
}
.landing .describe > p {
  font-weight: 700;
}

.first-button {
  background-color: transparent;
  padding: 15px 44px;
  border: 3px solid white;
  border-radius: 6px;
  color: white;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.6s ease;
  /* transition-delay: 0.1s; */
}

.first-button:hover {
  color: black;
  background-color: white !important;
}

.second-button {
  background-color: var(--main-color);
  padding: 17px 29.5px;
  border: none;
  border-radius: 6px;
  color: white;
  margin-left: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.3s ease;
}

.second-button:hover {
  background-color: #0097bc;
}

.history {
  display: flex;
  width: fit-content;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.history .title > h1 {
  height: 75px;
  position: relative;
  border-bottom: 4px solid var(--main-color);
  width: 300px;
  text-align: center;
}

.history .title > h1::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border-color: var(--main-color) var(--main-color) var(--main-color)
    var(--main-color);
  border-style: solid;
  border-width: 4px;
  position: absolute;
  transform: rotate(45deg);
  right: 50%;
  left: 47%;
  top: 85.5%;
}

.lorem2 {
  width: 600px;
  line-height: 30px;
}

.choldren {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  line-height: 30px;
  background-color: white;
  padding: 50px !important;
}

.choldren > h1 {
  margin: 25px 0 45px 0;
  letter-spacing: 2px;
  font-size: 25px;
}

.choldren > i {
  width: 60px !important;
  height: 80px;
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color);
  text-shadow: 3px 0px #007f9e;
}

.features {
  /* gap: 150px; */
  background-color: #eee;
  padding: 150px;
  box-shadow: var(--shadow-value);
  margin-bottom: 150px;
}

.clients {
  display: flex;
  width: fit-content;
  text-align: center;
  margin: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.clients .container .title > h1 {
  height: 75px;
  position: relative;
  border-bottom: 4px solid var(--main-color);
  width: 300px;
  text-align: center;
  position: relative;
}

.clients .container .title > h1::after {
  content: "";
  width: 15px;
  height: 15px;
  background-color: white;
  border-color: var(--main-color) var(--main-color) var(--main-color)
    var(--main-color);
  border-style: solid;
  border-width: 4px;
  position: absolute;
  transform: rotate(45deg);
  right: 50%;
  left: 47%;
  top: 85.5%;
}

.describtion-of-clients {
  line-height: 30px;
}

.container .prands > img {
  margin-top: 40px;
}

.contact {
  background-color: var(--contact-color);
  width: 100%;
  height: 40rem;
  padding: 50px;
}

.contact .container {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 50px;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.contact .container .about-us {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 35%;
  align-items: center;
  text-align: center;
  border: 2px solid gray;
  padding: 50px;
  height: 95%;
  border-radius: 2px;
}

.contact .container .about-us > p {
  line-height: 25px;
  margin-top: 20px;
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  border: 2px solid gray;
  padding: 50px;
  width: 35%;
  border-radius: 2px;
  height: 95%;
}

.contact .container .contact-me > h1 {
  text-align: center;
  align-self: center;
}

.contact .container .contact-me > label {
  display: block;
  margin-bottom: 15px;
}

.contact .container .contact-me > input {
  background-color: transparent;
  caret-color: var(--main-color);
  color: white;
  border: none;
  outline: none;
  border-top: 2px solid gray;
  width: 100%;
  line-height: 50px;
}

.contact .container .contact-me > input:nth-of-type(1) {
  margin-bottom: 25px;
}

.contact .container .about-us > hr {
  padding: 1px;
  background-color: var(--main-color);
  width: 35px;
  border: none;
  outline: none;
  color: var(--main-color);
}

.contact-me > button {
  background-color: transparent;
  color: var(--main-color);
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  align-self: flex-end;
}

.footer {
  padding: 15px;
  background-color: var(--main-color);
  width: 100%;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.footer .container {
  color: white;
  flex-direction: row;
  background-color: transparent;
}

span.copy {
  font-size: 12px;
}
.footer .container .social-media {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  cursor: pointer;
}

.edit-on-queries {
  width: 470px;
}