    :root {
    --color1: #f44336;
    --color2: #e91e63;
    --color3: #9c27b0;
    --color4: #673ab7;
    --color5: hsl(231, 48%, 48%);
    --color6: #0e65fc;
    --color7: #03a9f4;
    --color8: #00bcd4;
    --color9: #009688;
    --color10: #4caf50;
    --color11: #8bc34a;
    --color12: #cddc39;
    --color13: #ffeb3b;
    --color14: #ffc107;
    --color15: #ff9800;
    --color16: #ff5722;
    --color17: #795548;
    --color18: #9e9e9e;
    --color19: #607d8b;
    }