@media (max-width: 600px) {
    .container {
        width: 460px;
        display: flex;
        flex-direction: column;
    }
}


/* Medium Screen */

@media (min-width: 601px) and (max-width: 992px) {
    .container {
        width: 630px;
        flex-direction: row;
    }
    .second-button {
        margin-left: -369px;
    }
    .features .container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .features {
        padding: 50px 10px;
    }
    .contact {
        height: 100%;
    }
    .contact .container .about-us {
        width: 50%;
        height: 100%;
    }
    .contact-me {
        width: 50%;
        height: 100%;
    }
    .contact .container {
        flex-direction: column;
    }
    .about-us > p {
        width: 170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 930px;
    }
    .features {
        padding: 50px 20px;
    }
    .features .container {
        gap: 20px;
    }
    .contact {
        padding: 0;
    }
    .about-us > p {
        width: auto;
    }
}